<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680642040931-kaa1ucs86j2r0jnl0nsm4vrned05j52n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680642040931-kaa1ucs86j2r0jnl0nsm4vrned05j52n</string>
	<key>API_KEY</key>
	<string>AIzaSyC1isuYhxuNVnZVNHSmjBU0RhCkgZ3_fPM</string>
	<key>GCM_SENDER_ID</key>
	<string>680642040931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xcesscity</string>
	<key>PROJECT_ID</key>
	<string>xcesscity</string>
	<key>STORAGE_BUCKET</key>
	<string>xcesscity.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680642040931:ios:5cbc870a704cc487cbd456</string>
</dict>
</plist>